#play-paper {
  margin-top: 10px;
  margin-right: 20px;
  padding: 20px;
  border: 0;
  border-radius: 5%;
  color: papayawhip;
  background: burlywood;
}

#play-stone {
  margin-top: 10px;
  margin-right: 20px;
  padding: 20px;
  border: 0;
  border-radius: 5%;
  background: slategray;
  color: beige;
}

#play-scissors {
  margin-top: 10px;
  margin-right: 20px;
  padding: 20px;
  border: 0;
  border-radius: 5%;
  background: blueviolet;
  color: gold;
}